/* colors */
:root {
  --bg-color: #282c34;            /* Black */
  --fg-color: #dcdfe4;            /* White */
  --link-color: #61afef;          /* Blue */
  --hover-color: #56b6c2;         /* Cyan */
  --border-color: #dcdfe4;        /* White */
  --accent-color: #e06c75;        /* Red */
  --fg-muted-color: #919baa;      /* Grey */
}

/* global settings */
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.10rem;
  line-height: 1.6;
}

/* links & hover */
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  text-decoration: underline;
  color: var(--hover-color);
}

/* layout (flexbox) */
.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 60px;
}

/* left sidebar area */
.sidebar {
  width: 240px;
  flex-shrink: 0;
}
.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
}
.sidebar h1 {
  margin: 0px 0 -10px 0;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.social-links li {
  margin-bottom: 12px;
  color: var(--fg-muted-color);
}

.social-links i {
  width: 20px;
  margin-right: 8px;
}

.social-links a {
  color: var(--fg-muted-color);
}
.social-links a:hover {
  color: var(--hover-color);
}

/* right main-content area */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-nav {
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.top-nav a {
  color: var(--fg-muted-color);
  margin-right: 30px;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
.top-nav a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.top-nav a.active {
  border-color: var(--accent-color);
}


/* section headings with separation lines */
h2 {
    color: var(--fg-color);
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 8px;
    margin-top: 40px;
}


/* right-justify degree dates */
.edu-degree {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}

/* anti-scraper email class */
.reverse-email {
  unicode-bidi: bidi-override;
  direction: rtl;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-size: 0.8rem;
  color: var(--fg-muted-color);
}
